feedparser
requests
pandas
sqlalchemy
openai
streamlit
streamlit-feedback
git+https://github.com/cceyda/streamlit-pills@multiselect_release#egg=streamlit-pills
langchain
langchain-community
langchain-openai
chromadb
tiktoken
readtime
youtube-transcript-api
yt-dlp
